<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.dhis2">

    <!-- This Manifest will only apply changes to androidTest builds -->

    <queries>
        <package android:name="androidx.test.orchestrator.OrchestratorService"/>
    </queries>

    <application android:forceQueryable="true" />
</manifest>