<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <provider
            android:name=".data.FormProvider"
            android:authorities="${applicationId}.form.data.FormFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:node="merge" />
        </provider>

        <activity android:name=".data.scan.ScanCaptureActivity"
            android:exported="false"/>

    </application>
</manifest>