<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="false">
        <activity
            android:name=".ui.home.HomeActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.scanner.ScannerActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/Theme.BarcodeCapture"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>