<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data
                android:host="*"
                android:scheme="smsto" />
        </intent>

    </queries>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:fullBackupContent="@xml/old_backup_config"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="allowBackup"
        tools:targetApi="s">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false" />

        <activity
            android:name=".usescases.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".usescases.login.LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".usescases.main.MainActivity" />
        <activity android:name=".usescases.programEventDetail.ProgramEventDetailActivity" />
        <activity
            android:name=".usescases.searchTrackEntity.SearchTEActivity"
            android:configChanges="keyboardHidden|screenSize" />
        <activity android:name=".usescases.teiDashboard.TeiDashboardMobileActivity" />
        <activity android:name=".usescases.qrScanner.ScanActivity" />
        <activity android:name=".usescases.teiDashboard.teiProgramList.TeiProgramListActivity" />
        <activity android:name="org.dhis2.maps.views.MapSelectorActivity" />
        <activity android:name=".usescases.programStageSelection.ProgramStageSelectionActivity" />
        <activity android:name=".utils.WebViewActivity" />
        <activity
            android:name=".usescases.eventsWithoutRegistration.eventInitial.EventInitialActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".usescases.qrCodes.QrActivity" />
        <activity android:name=".usescases.qrCodes.eventsworegistration.QrEventsWORegistrationActivity" />

        <activity android:name=".usescases.datasets.datasetDetail.DataSetDetailActivity" />
        <activity android:name=".usescases.datasets.datasetInitial.DataSetInitialActivity" />
        <activity
            android:name=".usescases.datasets.dataSetTable.DataSetTableActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name=".widgets.DhisCustomLauncher"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/dhis_custom_launcher_info" />
        </receiver>

        <activity android:name=".usescases.reservedValue.ReservedValueActivity" />
        <activity
            android:name=".usescases.eventsWithoutRegistration.eventCapture.EventCaptureActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".usescases.sync.SyncActivity" />

        <service
            android:name=".usescases.sms.SmsSendingService"
            android:foregroundServiceType="dataSync" />

        <activity android:name=".usescases.about.PolicyView" />

        <activity
            android:name=".usescases.enrollment.EnrollmentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".usescases.events.ScheduledEventActivity" />

        <activity
            android:name=".usescases.notes.noteDetail.NoteDetailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".usescases.settingsprogram.SettingsProgramActivity" />

        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:exported="true"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="*" />
            </intent-filter>
        </activity>
        <activity android:name=".usescases.login.accounts.AccountsActivity" />
        <activity
            android:name=".usescases.crash.CrashActivity"
            android:exported="false"
            android:process=":error_activity">
            <intent-filter>
                <action android:name="cat.ereza.customactivityoncrash.ERROR" />
            </intent-filter>
        </activity>

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>