<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.dhis2">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <!--<uses-permission android:name="android.permission.NFC"/>-->
    <!--<uses-feature android:name="android.hardware.nfc" />-->


    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="allowBackup">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".usescases.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="play.dhis2.org"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".usescases.login.LoginActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".usescases.main.MainActivity" />
        <activity android:name=".usescases.programEventDetail.ProgramEventDetailActivity" />
        <activity
            android:name=".usescases.searchTrackEntity.SearchTEActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".usescases.teiDashboard.TeiDashboardMobileActivity" />
        <activity android:name=".usescases.teiDashboard.teiDataDetail.TeiDataDetailActivity" />
        <activity android:name=".usescases.teiDashboard.eventDetail.EventDetailActivity" />
        <activity android:name=".usescases.qrScanner.QRActivity" />
        <activity
            android:name=".data.forms.FormActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".data.forms.dataentry.DataEntryActivity" />
        <activity android:name=".usescases.teiDashboard.teiProgramList.TeiProgramListActivity" />
        <activity android:name=".usescases.map.MapSelectorActivity" />
        <activity android:name=".usescases.eventsWithoutRegistration.eventSummary.EventSummaryActivity" />
        <activity android:name=".usescases.programStageSelection.ProgramStageSelectionActivity" />
        <activity android:name=".utils.WebViewActivity" />
        <activity
            android:name=".usescases.eventsWithoutRegistration.eventInitial.EventInitialActivity"
            android:windowSoftInputMode="stateHidden" />
        <!--<activity android:name=".usescases.teiDashboard.TeiDashboardActivity" />-->
        <activity android:name=".usescases.qrCodes.QrActivity" />
        <activity android:name=".usescases.qrCodes.eventsworegistration.QrEventsWORegistrationActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAGNpaLadezvuQFPLMpWEHqsTxLdNWhPGk" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a5caa46009119f5e584e4964c30a922095b1075c" />

        <activity android:name=".usescases.datasets.datasetDetail.DataSetDetailActivity" />
        <activity android:name=".usescases.datasets.datasetInitial.DataSetInitialActivity" />
        <activity android:name=".usescases.datasets.dataSetTable.DataSetTableActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <receiver android:name=".widgets.DhisCustomLauncher">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/dhis_custom_launcher_info" />
        </receiver>

        <activity android:name=".usescases.reservedValue.ReservedValueActivity" />
        <activity android:name=".usescases.eventsWithoutRegistration.eventCapture.EventCaptureActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".usescases.sync.SyncActivity" />
        <activity android:name=".usescases.development.DevelopmentActivity" />
        <activity
            android:name=".usescases.sms.SmsSubmitActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <service android:name=".usescases.sms.SmsSendingService" />
        <activity android:name=".usescases.teiDashboard.nfc_data.NfcDataWriteActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/content_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".usescases.org_unit_selector.OUTreeActivity" />
        <activity android:name=".usescases.enrollment.EnrollmentActivity"
            android:windowSoftInputMode="adjustPan"/>
    </application>

</manifest>