name: Deploy Release

env:
  main_project_module: app

on:
  workflow_dispatch:
    inputs:
      github_release:
        description: 'enable github release'
        required: true
        type: boolean
      google_play_release:
        description: 'enable google play release'
        required: true
        type: boolean
      release_tag_name:
        description: 'tag'
        required: true
        type: string

jobs:

  Build-Apk:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v6

    - name: Set repository name as env variable
      run: echo "repository_name=$(echo '${{ github.repository }}' | awk -F '/' '{print $2}')" >> $GITHUB_ENV

    - name: Set Up JDK
      uses: actions/setup-java@v5
      with:
        distribution: 'zulu' # See 'Supported distributions' for available options
        java-version: '17'
        cache: 'gradle'

    - name: Change wrapper permissions
      run: chmod +x ./gradlew

    - name: Decode Keystore
      id: decode_keystore
      uses: timheuer/base64-to-file@784a1a4a994315802b7d8e2084e116e783d157be
      with:
        fileName: 'dhis_keystore.jks'
        encodedString: ${{ secrets.KEYSTORE }}

    - name: Build Release APKs
      run: ./gradlew app:assembleDhis2Release app:assembleDhis2PlayServicesRelease
      env:
        SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
        SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        SIGNING_KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
        SIGNING_KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        SIGNING_STORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
        SIGNING_KEYSTORE_PATH: ${{ steps.decode_keystore.outputs.filePath }}

    - name: Decode Training Keystore
      id: decode_training_keystore
      uses: timheuer/base64-to-file@784a1a4a994315802b7d8e2084e116e783d157be
      with:
        fileName: 'dhis_training_keystore.jks'
        encodedString: ${{ secrets.TRAINING_KEYSTORE_BASE64 }}

    - name: Build Training APK
      env:
        SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
        SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        TRAINING_KEY_ALIAS: ${{ secrets.TRAINING_KEY_ALIAS }}
        TRAINING_KEY_PASSWORD: ${{ secrets.TRAINING_KEY_PASSWORD }}
        TRAINING_STORE_PASSWORD: ${{ secrets.TRAINING_STORE_PASSWORD }}
        TRAINING_STORE_FILE: ${{ steps.decode_training_keystore.outputs.filePath }}
      run: ./gradlew app:assembleDhis2TrainingRelease

    - name: Read version name from file
      working-directory: ./gradle
      id: read-version
      run: echo "vName=$(grep 'vName' libs.versions.toml | awk -F' = ' '{print $2}' | tr -d '"')" >> $GITHUB_OUTPUT

    - name: Upload to Play Store
      if: ${{ inputs.google_play_release }}
      uses: r0adkll/upload-google-play@935ef9c68bb393a8e6116b1575626a7f5be3a7fb
      with:
        serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
        packageName: com.dhis2
        releaseFiles: ${{ env.main_project_module }}/build/outputs/apk/dhis2PlayServices/release/dhis2-v${{ steps.read-version.outputs.vName }}-googlePlay.apk
        track: production
        status: inProgress
        whatsNewDirectory: whatsnew
        userFraction: 0.99

    - name: Upload to Github
      if: ${{ inputs.github_release }}
      uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b
      with:
        allowUpdates: true
        draft: true
        bodyFile: "RELEASE.md"
        name: "Android Capture App for DHIS 2 (v${{ inputs.release_tag_name }})"
        tag: ${{ inputs.release_tag_name }}
        artifacts: ${{ env.main_project_module }}/build/outputs/apk/dhis2/release/dhis2-v${{ steps.read-version.outputs.vName }}.apk,${{ env.main_project_module }}/build/outputs/apk/dhis2PlayServices/release/dhis2-v${{ steps.read-version.outputs.vName }}-googlePlay.apk,${{ env.main_project_module }}/build/outputs/apk/dhis2Training/release/dhis2-v${{ steps.read-version.outputs.vName }}-training.apk
