name: Generate notes

on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      filter_id:
        description: 'Please, provide the Jira filter id'
        required: true
        type: string

env:
  FILTER_ID: ${{ inputs.filter_id }}


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  generate_notes:
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.DHIS2_BOT_GITHUB_TOKEN }}

      # Generate github release notes
      - name: Generate release notes
        working-directory: ./scripts
        run: python3 generateReleaseNotes.py

      - name: Commit changes
        uses: flex-development/gh-commit@177be4b5bca1b102400ca7220932d9ff7980fddb
        with:
          message: "Update release notes"
          token: ${{ secrets.DHIS2_BOT_GITHUB_TOKEN }}
